body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}
.chat-container {
    display: flex;
    flex-direction: column;
    height: 76vh;
    background-color: #F5E6D3; /* Light chocolate color */
}
.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}
.message {
    max-width: 70%;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 20px;
    line-height: 1.4;
}
.user-message {
    background-color: #8B4513; /* Dark chocolate color */
    color: white;
    align-self: flex-end;
    margin-left: auto;
}
.ai-message {
    background-color: #D2691E; /* Chocolate color */
    color: white;
    max-width: 100% !important;
}
.chat-input {
    display: flex;
    padding: 20px;
    background-color: #DEB887; /* Light chocolate color */
    position: fixed; /* Fix the chat input to the bottom */
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}
.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}
.chat-input button {
    padding: 10px 20px;
    background-color: #8B4513; /* Dark chocolate color */
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.chat-input button:hover {
    background-color: #A0522D; /* Lighter chocolate color on hover */
}
.skeleton-loader {
    width: 100%;
    height: 50px; /* Adjust height as needed */
    background-color: #fbddbd; /* Light grey color */
    border-radius: 20px;
    margin-bottom: 15px;
    animation: pulse 1.5s infinite;
}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.button-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #f4e6d2; /* Updated background color for logo area */
}

.logo {
    max-width: 150px; /* Adjust size as needed */
    height: auto;
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is above other content */
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire area */
}

.skip-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #d4aa53; /* Updated color for skip button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001; /* Ensure it is above the video */
}